{% load static from staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngoApp &mdash; Development, the Angolan Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Building the future of Angola, one app at a time." />
    <meta name="keywords" content="angola, startup, software, android, ios, app development" />
    <meta name="author" content="Leo Neto" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="AngoApp" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://angoapp.com" />
    <meta property="og:site_name" content="AngoApp" />
    <meta property="og:description" content="Building Angola, one app at a time." />
    <meta name="twitter:title" content="AngoApp" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="https://angoapp.com" />
    <meta name="twitter:card" content="" />




{#    add fonts#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Monoton" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Forum|Lobster|Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

    <link rel="icon" type="image/png" href="{% static 'img/logo2.png' %}" />

</head>
