{% load static from staticfiles %}

<section class="hero-area" id="home" style="width:100vw;height: 57vw;background-image: url({% static 'img/business.jpg' %}" >
    <div class="">
    <div class="container ">
        <div class="row">
            <div class="pl-5">
                <div class="hero-area-content">
                    <h1>AngoApp</h1>
                    <p>Juntos vamos levar o seu negocio para o proximo nivel.</br>
                    Nos fornecemos servicos completos de criacao de applicativos e websites
                    </p>
                    <a href="#" class="appao-btn">Contacte-nos ja</a>
                </div>
            </div>
        </div>
    </div>
        </div>
</section><!-- hero area end -->
