{% load static from staticfiles %}

{% comment %}
    LEO: I'd consider removing the commented out html.
{% endcomment %}
<div class="" style="background-image:url({% static "img/business.jpg" %})" style="width: 100%; height: 100%">
   <img class="brightness" src="{% static 'img/business.jpg' %}" alt="" style="width: 100%;" >

    <h1 class="text-cover-title text-light">AngoApp</h1>
    {% comment %}<p class="text-cover-subtitle">This is some text that is placed in the transparent box.</p>
    <p class="text-cover-title">Juntos vamos levar o seu negocio ao proximo nivel</p>{% endcomment %}
</div>
