{% load static from staticfiles %}

<div class="bg-plain-light text-color-black pt-5 pb-5">
    <div class="container">

        <div class="row spacing-4">

            <article class="col-3 spacing-6">
              <a ><h4 class="font-bold">Empresa</h4></a>
              <a href="#"><p class="text-color-darkblue">equipa</p></a>
              <a href="#"><p class="text-color-darkblue">parceria</p></a>
              <a href="#"><p class="text-color-darkblue">entrar em contacto</p></a>
            </article>

            <article class="col-3 spacing-6">
              <a ><h4 class="font-bold">contacto</h4></a>
              <p class="">info@angoapp.com</p>
              <p class="">+1 812 929 29 03</p>
              <p class="">+1 812 929 70 33</p>
            </article>

            <article class="col-3 ">
                <h4 class=" font-bold">Redes Sociais</h4>
                <a href="#" class=" fa fa-facebook-square "></a>
                <a href="#" class=" fa fa-instagram"></a>
                <a href="#" class=" fa fa-github"></a>
                <a href="#" class=" fa fa-linkedin-square"></a>

            </article>
        </div>
        <div class="copyright animate-box pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="left">
                                <small>&copy; {% now 'Y' %} AngoApp.</small>
                                <small class="right text-color-blue">Website by <a class="text-color-blue" href="http://angoapp.com" target="_blank">AngoApp</a></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>